.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.peder {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
