@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.nav-li {
  text-align: left;
  display: flex;
  width: 100%;
  line-height: 2;
  list-style: none;
  outline: none;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  transition-property: opacity;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
}

.nav-li:hover {
  opacity: 0.5;
}

.nav-link {
  height: 100%;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-size: 1.25rem; /* Adjust this according to your design */
}

.imgResize {
  width: 5%;
}
